body {
  font-family: 'Montserrat';
  margin: 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 3.5rem;
}
nav li:first-child {
  flex-basis: 50%;
  text-align: left;
}
.active {
  color: #FA4A0C
}
/* top section */
#top {
  font-family: 'Poppins';
  background: url("../images/bg-top.jpg") ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background-size: 100% auto;
  height:70vh;
  padding: 0;
  margin: 0;
}
#top div, #download div {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
#top a, #download a {
  border-radius: 30px;
  padding: 10px 20px;
  margin:0.5rem;
  text-decoration: none;
  width: 236px;
  height: 68px;
  color: #fff;
}
.play-store-button {
  background-color: #FA4A0C;
}
.app-store-button {
  background: transparent;
  border:  1px solid #fff;
}
h2 {
  font-size: 150%;
}
/* footer */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  color: #5C5C5C;
}
.fa {
  padding: 10px;
  font-size: 2rem !important;
  background-color:#fff;
  color: #FA4A0C;
}
/* App section */
#app h2:first-child{
  justify-content: center;
  text-align: center;
}
#app .wrapper{
  width:70%;
  display: flex;
  flex-flow: row-wrap;
  gap: 0 20px;
  margin: auto;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}
#app p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #737373;
}
#app h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #FA4A0C;
}
#app .text {
  padding: 0 4rem;
}
/* download app */
#download {
  background: url("../images/footer-bg.jpg");
  background-size: 100% auto;
  font-family: 'Poppins';
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
}
#download a {
  border-radius: 10px;
}
