body {
  font-family: 'Montserrat';
  margin: 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 3.5rem;
}
nav li:first-child {
  flex-basis: 50%;
  text-align: left;
}
.active {
  color: #FA4A0C
}
/* top section */
#top {
  font-family: 'Poppins';
  background: url("../images/bg-top.jpg") ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background-size: 100% auto;
  height:70vh;
  padding: 0;
  margin: 0;
}
#top div {
  text-align: center;
  justify-content: center;
  /* width: 50%; */
  padding: 2rem;
}
#top a {
  border-radius: 30px;
  padding: 10px 20px;
  margin:0.5rem;
  text-decoration: none;
  width: 236px;
  height: 68px;
  color: #fff;
}
.play-store-button {
  background-color: #FA4A0C;
}
.app-store-button {
  background: transparent;
  border:  1px solid #fff;
}
h2 {
  font-size: 150%;
}
/* footer */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  color: #5C5C5C;
}
.fa {
  /* background-color:#FA4A0C;
  color: #fff; */
  padding: 10px;
  font-size: 2rem !important;
  background-color:#fff;
  color: #FA4A0C;
}